form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
  & input {
    background-color: lightblue;
    border-radius: 5px;

    &:focus:invalid {
      border-color: red;
      outline: none;
    }
  }

  .error {
    color: red;
    font-weight: bolder;
  }
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
}

input:focus:invalid {
  border-color: red;
  outline: none;
}
